.form-container {
  isolation: isolate;
  position: relative;
  z-index: 10;
  backdrop-filter: blur(6px);
}

.register-link {
  color: var(--color-secondary);
  transition: color 0.3s ease;
  text-decoration: none;
}

.register-link:hover {
  color: #514b96;
}
